@charset "UTF-8";
/* CSS Document */


nav {
	background-color: transparent;
	padding: 0;
}

@media (min-width: 1300px) {
header {
	padding: 40px auto 60px auto;
	max-width: 990px;
}
}

section {
	padding: 0 auto 60px auto;
}

footer {
	background-color: transparent;
	padding: 30px 0 0 0;
}

.button {
	margin-bottom: 30px;
}
