@charset "UTF-8";
/* CSS Document */

#wrapper {
	overflow: auto;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

nav {
	width: 100%;
	height: auto;
	background-color: #292929;
	overflow: hidden;
	margin: 0 auto;
	padding: 10px;
}

header {
	padding: 40px 10px;
	overflow: auto;
}

section {
	padding: 0 10px 20px 10px;
}

footer {
	width: 100%;
	height: auto;
	background-color: #292929;
	overflow: hidden;
	margin: 0 auto;
	padding: 10px;
}

.logo-main {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	float: left;
	margin: 0 10px 0 0;
}


ul {
	list-style: none;
	float: right;
	margin: 0;
}

ul li {
	display: inline;
	list-style: none;
}

ul li a {
	float: right;
	margin: 0 0 0 10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #EFB21B;
}

ul li a:hover, a:focus {
	background-color: #FFDD1F;
}


.head {
	width: 100%;
	height: auto;
	margin: 40px auto;
}

.button {
	margin: 30px auto 30px auto;
    font-size: 1.2em;
}

.event-logo {
	width: 60px;
	height: 60px;
}

footer {
	background-color: #292929;
}

