@charset "UTF-8";
/* CSS Document */

nav {
	width: 100%;
	height: auto;
	background-color: #292929;
	overflow: hidden;
	margin: 0 auto;
	max-width: 990px;
    padding: 10px;
}

ul {
	list-style: none;
	float: right;
	margin: 0;
}

ul li {
	display: inline;
	list-style: none;
}

ul li a {
	float: right;
	margin: 10px 10px 0 10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #EFB21B;
}

ul li a:hover, a:focus {
	background-color: #FFDD1F;
}

.logo-main {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	float: left;
	margin: 0 30px 0 0;
}

header {
	padding: 80px 10px 60px 10px;
	overflow: auto;
	max-width: 990px;
	margin: 0 auto;
}

.content {
	max-width: 990px;
	margin: 0 auto;
}

ul li a {
	float: right;
	margin: 0 0 0 10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #EFB21B;
}

section {
	padding: 0 10px 20px 10px;
}

.span_1_of_2 {
    margin-right: 10px;
}
.span_1_of_2:last-child {
    margin-right: 0;
}

.event-img {
    height: 120px;
    margin-bottom: 10px;
}

.event-logo {
    margin-bottom: 10px;
}

.event-title {
    clear: both;
    margin: 0;
}

footer {
	padding: 10px;
	background-color: #292929;
}
