@charset "UTF-8";
/* CSS Document */

nav {
	background-color: transparent;
}

header {
	padding: 40px 20px;
	max-width: 720px;
}

img.head {
	margin-bottom: 20px;
}

.content {
	margin: 50px auto;
}

.event-img {
    height: 180px;
}

footer {
	background-color: transparent;
	padding: 0 20px;
}

ul li a:hover, a:focus {
	background-color: #292929;
}