@charset "UTF-8";
/* CSS Document */

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
 
body {
	 background-color: #FFFFFF;
 }

 
img {
	max-width: 100%;
}

.fi-logo {
    float: left;
    width: 40%;
}

.social-icons {
    margin-left: 10px;
}
 
header {
	clear: both;
}
 
.button {
	max-width: 500px;
	height: auto;
	padding: 15px;
	text-align: center;
	background-color: #EFB21B;
	margin: 30px auto 10px auto;
	border-radius: .2em;
	text-decoration: none;
	font-family: 'museo_sans500', Arial, Helvetica, sans-serif;
	font-size: 1.4em;
	letter-spacing: .03em;
	color: white;
}

.button:hover, .button:focus {
	background-color: #000000;
	border: none;
	color: #FFDD1F;
}

.section {
	clear: both;
	margin: 0 auto;
	max-width: 990px;
}

section.about {
	background-color: #000000;
}

section.events {
	background-color: transparent;
}

section.sponsors {
	background-color: #EFB21B;
}

.col {
	display: block;
	float: left;
}

.col:first-child { 
	margin-left: 0; 
}

.group:before, .group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1; /* For IE6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.1%;
}
.span_1_of_3 {
	width: 32.2%;
	overflow: hidden;
	border-radius: .2em;
    padding: 10px;
}

.event:hover {
    background-color: #EAE6E0;
}

@media (max-width: 480px) {
	.col { 
		margin: 2% 0 2% 0%;
	}
}

@media (max-width: 480px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
		padding: 20px;
		overflow: hidden;
	}
}

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
	height: auto;
    overflow: hidden;
    padding: 0;
}

@media (max-width: 719px) {
	.span_1_of_2 {
		width: auto;
	}
}


.content {
    clear: both;
}

.event-img {
    height: 200px;
    margin-bottom: 20px;
}

.event-logo {
	width: 40px;
	height: 40px;
    float: left;
}

.event-title {
    margin-left: 80px;
    margin-top: -10px;
    max-width: 180px;
}

.arrow1 {
	width: 50px;
	height: 20px;
	margin: 0 auto;
	background-image: url(../img/arrow1.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

.arrow2 {
	width: 50px;
	height: 20px;
	margin: 0 auto;
	background-image: url(../img/arrow2.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

.sponsor-logos {
	margin: 30px auto;
	height: auto;
	border-top: 1px solid #292929;
	border-bottom: 1px solid #292929;
	overflow: auto;
}

.sponsor-logo .span_1_of_3 {
	background-color: transparent;
	height: auto;
	border: none;
}

@media (max-width: 480px) {
	.sponsor-logos {
	padding: 0 10px;
	height: auto;
    }
}


